<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479034416908-ti8kb2tsdh5r2ge56thbik2r38o3hqil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479034416908-ti8kb2tsdh5r2ge56thbik2r38o3hqil</string>
	<key>API_KEY</key>
	<string>AIzaSyDvOMFh-AzpZJP-knXdYq551uNO_19Zp2A</string>
	<key>GCM_SENDER_ID</key>
	<string>479034416908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motorcityTracking</string>
	<key>PROJECT_ID</key>
	<string>motor-city-fb41b</string>
	<key>STORAGE_BUCKET</key>
	<string>motor-city-fb41b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479034416908:ios:ba528e65984a058df67329</string>
	<key>DATABASE_URL</key>
	<string>https://motor-city-fb41b.firebaseio.com</string>
</dict>
</plist>